/* demo styles */
body {
  padding-top:20px;
  font-family:sans-serif;
  text-align:center;
  background:#ddd;
}
h3 {
  font-size:20px;
}
div {
  line-height:50px;
}
.module {
  background:gold;
  margin:20px auto;
  padding:30px
}
.module div {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border:1px solid #ba0000;
}


/* the good stuff starts here :) */
